# Entorno virtual
env/
venv/
__pycache__/
*.pyc

# Archivos de configuración y base de datos local
*.sqlite3
db.sqlite3
*.log

# Configuración de Django
*.secret
.env

# Archivos de VSCode
.vscode/

# Archivos estáticos y media temporales
staticfiles/
media/